body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

h1.FancyBorder {
  padding: 5px 5px;
  border: 3px solid;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
}

h3 {
  text-align: center
}

div.previewtext {
  height: 90%;
  margin: 3px 10px;
  border:  1px solid snow;
}

div.detailscomponent {
  height: 90%;
  flex-direction: column;
  margin: 3px 10px;
  overflow-y: scroll;
}

div.footersection {
  display: flex;
  flex-direction: row;
}

div.entitysection {
  height: 30%;
  margin-top: 3px;
  border: 1px solid;
  overflow-y: scroll;
}

div.status {
text-align: right;
height: 100%;
width: 50%; 
border: 1px solid black;
}

div.fileselector {
width: 50%;
border: 1px solid black;
}

div.viewport {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 50vw;
  width: 98vw;
  border: 3px solid #73AD21;
}

div.container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid;
  justify-content: space-around;
}

div.previewpane {
  position: relative;
  flex-direction: column;
  margin-top: 3px;
  height: 99%;
  width: 48%;
  background-color: tomato;
  border: 1px solid cornflowerblue;
  float:left;
}

div.detailspane {
  float: left;
  flex-shrink: 1;
  margin-top: 3px;
  width: 48%;
  height: 99%;
  background-color: paleturquoise;
}


ul.entitylist {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 13px;
}

li.entity {
  padding-right: 20%;
  padding-top: 15px;
  font-size: 15px;
}
